<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1001</key>
	<dict>
		<key>keyId</key>
		<integer>1001</integer>
		<key>type</key>
		<integer>1</integer>
		<key>maxChildrenCount</key>
		<integer>5</integer>
		<key>childStarOrbitalRadius</key>
		<array>
			<integer>240</integer>
			<integer>320</integer>
			<integer>400</integer>
			<integer>480</integer>
			<integer>560</integer>
		</array>
		<key>childStarOrbitalPeriods</key>
		<array>
			<integer>35</integer>
			<integer>60</integer>
			<integer>100</integer>
			<integer>135</integer>
			<integer>170</integer>
		</array>
		<key>rotationPeriod</key>
		<integer>50</integer>
	</dict>
	<key>2001</key>
	<dict>
		<key>keyId</key>
		<integer>2001</integer>
		<key>type</key>
		<integer>2</integer>
		<key>maxChildrenCount</key>
		<integer>1</integer>
		<key>childStarOrbitalRadius</key>
		<array>
			<integer>50</integer>
		</array>
		<key>childStarOrbitalPeriods</key>
		<array>
			<integer>5</integer>
		</array>
		<key>rotationPeriod</key>
		<integer>50</integer>
	</dict>
	<key>2002</key>
	<dict>
		<key>keyId</key>
		<integer>2002</integer>
		<key>type</key>
		<integer>2</integer>
		<key>maxChildrenCount</key>
		<integer>0</integer>
		<key>childStarOrbitalRadius</key>
		<array/>
		<key>childStarOrbitalPeriods</key>
		<array/>
		<key>rotationPeriod</key>
		<integer>20</integer>
	</dict>
	<key>3001</key>
	<dict>
		<key>keyId</key>
		<integer>3001</integer>
		<key>type</key>
		<integer>3</integer>
		<key>maxChildrenCount</key>
		<integer>0</integer>
		<key>childStarOrbitalRadius</key>
		<array/>
		<key>childStarOrbitalPeriods</key>
		<array/>
		<key>rotationPeriod</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
